<div class='bg-tertiary-light'>

    <div style='height: 88px;' class='w-100 bg-primary'>
    </div>

    <div class='container mt-4 pb-4 h-auto'>
        <div class='row'>

            {{! Cột 1 }}
            <div class='col-12 col-lg-8 px-0'>
                {{! ChuyenBay Container }}
                <div class='d-flex flex-column h-auto ChuyenBay_Container'>
                    {{! ChuyenBay Item }}
                    <div class='bg-light shadow rounded-2 h-auto ChuyenBay_Item mb-4'>
                        <div class='d-flex flex-column'>

                            {{! Hàng 1 }}
                            <div class='px-3 py-2 d-flex flex-row justify-content-between align-items-center'>
                                <div class='d-flex flex-row align-items-center'>

                                    <i
                                        style=' width: 25px; height:25px; font-size:25px; '
                                        class='fa-solid fa-plane me-2 text-primary'
                                    ></i>

                                    {{! Sân bay đi }}
                                    <div class='d-flex flex-row'>
                                        <span class='custom-font p20-B text-dark lh-lg'>
                                            TP HCM
                                        </span>
                                        <span class='custom-font p20-B text-dark lh-lg'>
                                            (SGN)
                                        </span>
                                    </div>

                                    <i
                                        style='width: 20px; height:20px; font-size:20px;'
                                        class='fa-solid fa-arrow-right mx-2'
                                    ></i>

                                    {{! Sân bay đến }}
                                    <div class='d-flex flex-row'>
                                        <span class='custom-font p20-B text-dark lh-lg'>
                                            TP HCM
                                        </span>
                                        <span class='custom-font p20-B text-dark lh-lg'>
                                            (SGN)
                                        </span>
                                    </div>
                                </div>
                                <div class='d-flex flex-row'>
                                    <div>
                                        <a
                                            style='padding: 0px !important;'
                                            type='button'
                                            data-bs-toggle='modal'
                                            data-bs-target='#Modal'
                                            class='btn btn-primary bg-light border-0 px-4 text-primary custom-font p16-B custom-boxshadow-focus-none'
                                            href=''
                                        >
                                            Chi tiết chuyến bay
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {{! Gạch ngang }}
                            <div style='border-top: 1px solid black;'>
                            </div>

                            {{! Hàng 2 }}
                            <div class='px-3 py-4 d-flex flex-row justify-content-between align-items-center'>
                                {{! Bên Trái }}
                                <div class='d-flex flex-row'>
                                    <div class='d-flex flex-column'>
                                        <div class='d-flex flex-row my-2'>
                                            <span class='custom-font p16-R text-dark me-2'>
                                                Ngày bay:
                                            </span>
                                            <span class='custom-font p16-B text-dark'>
                                                T3
                                            </span>
                                            <span class='custom-font p16-B text-dark me-1'>
                                                ,
                                            </span>
                                            <span class='custom-font p16-B text-dark me-1'>
                                                15
                                            </span>
                                            <span class='custom-font p16-B text-dark me-1'>
                                                Thg
                                            </span>
                                            <span class='custom-font p16-B text-dark me-1'>
                                                11
                                            </span>
                                            <span class='custom-font p16-B text-dark me-1'>
                                                2022
                                            </span>
                                        </div>
                                        <div class='d-flex flex-row my-2'>
                                            <span class='custom-font p16-R text-dark me-2'>
                                                Hạng ghế:
                                            </span>
                                            <span class='custom-font p16-B text-dark me-1'>
                                                Phổ thông
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                {{! Bên Phải }}
                                <div class='d-flex flex-row justify-content-between'>
                                    {{! Thời gian bay đi }}
                                    <div class='d-flex flex-column me-3'>
                                        <div class='px-2 mb-1'>
                                            <span class='custom-font p20-B text-dark'>11:11</span>
                                        </div>
                                        <div style='border-radius: 20px;' class='bg-tertiary-light py-1 px-2 mx-auto'>
                                            <span class='custom-font p20-B text-tertiary'>TSN</span>
                                        </div>

                                    </div>

                                    {{! Thời gian bay + điểm dừng }}
                                    <div class='d-flex flex-column mx-0 mx-md-3 mx-lg-4'>
                                        {{! Thời gian bay }}
                                        <div class='mx-auto'>
                                            <span class='custom-font p16-B text-tertiary'>11h 11m</span>
                                        </div>
                                        {{! decor }}
                                        <div class='d-flex flex-row align-items-center'>

                                            <div class='w-auto h-auto'>
                                                <i
                                                    style='height:20px; width:20px;'
                                                    class='fa-regular fa-circle text-tertiary'
                                                ></i>
                                            </div>

                                            <div
                                                style='border-bottom: 1px solid black; padding: 0 60px;'
                                                class='w-100 my-1'
                                            ></div>

                                            <div class='w-auto h-auto'>
                                                <i
                                                    style='height:20px; width:20px;'
                                                    class='fa-solid fa-circle text-tertiary'
                                                ></i>
                                            </div>
                                        </div>
                                        {{! Điểm dừng }}
                                        <div class='mx-auto'>
                                            <span class='custom-font p16-B text-tertiary'>11 điểm dừng</span>
                                        </div>
                                    </div>

                                    {{! Thời gian bay đến }}
                                    <div class='d-flex flex-column mx-3'>
                                        <div class='px-2 mb-1'>
                                            <span class='custom-font p20-B text-dark'>11:11</span>
                                        </div>
                                        <div style='border-radius: 20px;' class='bg-tertiary-light py-1 px-2 mx-auto'>
                                            <span class='custom-font p20-B text-tertiary'>DAD</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{! Modal }}
            <div id='Modal' class='modal fade' tabindex='-1' aria-hidden='true'>
                <div class='modal-dialog modal-dialog-centered modal-lg'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <span class='modal-title custom-font p20-B text-tertiary'>Chi tiết chuyến bay</span>
                            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                        </div>
                        <div class='modal-body'>
                            {{! Thông tin chung }}
                            <div
                                style='border-bottom: 1px solid gray;'
                                class='py-3 d-flex flex-row justify-content-between'
                            >

                                {{! Bên trái }}
                                <div class='d-flex flex-column'>
                                    <div class='d-flex flex-row mb-3'>
                                        <i style='height: 16px; width: 16px;' class='me-3 p16-B fa-solid fa-plane'></i>
                                        <span class='custom-font p16-R text-dark me-2'>Số hiệu chuyến bay:
                                        </span>
                                        <span
                                            class='custom-font p16-B text-dark'
                                        >{{this.ChuyenBayDaChon.MaChuyenBay}}</span>
                                    </div>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='height: 16px; width: 16px;'
                                            class='me-3 p16-B fa-solid fa-ticket-simple'
                                        ></i>
                                        <span class='custom-font p16-R text-dark me-2'>Giá vé:
                                        </span>
                                        <span class='custom-font p16-B text-dark'>{{this.ChuyenBayDaChon.GiaVe}}</span>
                                        <span class='ps-1 custom-font p16-B text-dark'>
                                            VND /khách</span>
                                    </div>
                                </div>

                                {{! Bên phải }}
                                <div class='d-flex flex-column me-4'>
                                    <div class='d-flex flex-row mb-2'>
                                        <i
                                            style='height: 16px; width: 16px;'
                                            class='me-3 p16-B fa-solid fa-suitcase'
                                        ></i>
                                        <span class='custom-font p16-R text-dark me-2'>Hành lý:
                                        </span>
                                        <span class='custom-font p16-B text-dark'>7kg xách tay</span>
                                    </div>
                                    <div class='d-flex flex-row'>
                                        <span class='custom-font p14-S text-primary'>+ xem giá hành lý mua thêm</span>
                                    </div>
                                </div>
                            </div>

                            {{! Trung gian container }}
                            <div class='py-4 d-flex flex-column'>
                                {{#each this.ChuyenBayDaChon.ChanBay}}
                                    <div class=''>
                                        {{! Khởi hành - đến item }}
                                        <div class='px-4 mb-4 d-flex flex-column'>

                                            {{! Thời gian bay đi - đến }}
                                            <div class='d-flex flex-row justify-content-between'>
                                                {{! Đi }}
                                                <div class='d-flex flex-row align-items-end'>
                                                    <span
                                                        class='custom-font p20-B text-dark'
                                                    >{{this.ThoiGianDi.GioDi.Gio}}:{{this.ThoiGianDi.GioDi.Phut}}</span>
                                                    <span
                                                        style='margin-bottom: 4px;'
                                                        class='ms-1 custom-font p12-S text-tertiary'
                                                    >{{this.ThoiGianDi.NgayDi.Ngay}}-{{this.ThoiGianDi.NgayDi.Thang}}-{{this.ThoiGianDi.NgayDi.Nam}}</span>
                                                </div>
                                                {{! Thời gian bay }}
                                                <div class='mx-auto align-self-end'>
                                                    <span
                                                        class='custom-font p16-B text-tertiary'
                                                    >{{this.ThoiGianBay.Gio}}h
                                                        {{this.ThoiGianBay.Phut}}m</span>
                                                </div>
                                                {{! Đến }}
                                                <div class='d-flex flex-row align-items-end'>
                                                    <span
                                                        style='margin-bottom: 4px;'
                                                        class='me-1 custom-font p12-S text-tertiary'
                                                    >{{this.ThoiGianDen.NgayDen.Ngay}}-{{this.ThoiGianDen.NgayDen.Thang}}-{{this.ThoiGianDen.NgayDen.Nam}}</span>
                                                    <span
                                                        class='custom-font p20-B text-dark'
                                                    >{{this.ThoiGianDen.GioDen.Gio}}:{{this.ThoiGianDen.GioDen.Phut}}</span>
                                                </div>
                                            </div>

                                            {{! decor }}
                                            <div class='d-flex flex-column py-1'>
                                                <div class='d-flex flex-row align-items-center'>

                                                    <div class='w-auto h-auto'>
                                                        <i
                                                            style='height:15px; width:15px; font-size:15px; '
                                                            class='fa-regular fa-circle text-tertiary'
                                                        ></i>
                                                    </div>

                                                    <div
                                                        style='border-bottom: 1px solid black; padding: 0 60px;'
                                                        class='w-100'
                                                    ></div>

                                                    <div class='w-auto h-auto'>
                                                        <i
                                                            style='height:15px; width:15px; font-size:15px;'
                                                            class='fa-solid fa-circle text-tertiary'
                                                        ></i>
                                                    </div>
                                                </div>
                                            </div>

                                            {{! Sân bay đi - đến }}
                                            <div class='d-flex flex-row justify-content-between'>
                                                {{! Đi }}
                                                <div class='d-flex flex-column'>
                                                    <div style='padding: 4px 0px;' class='mx-auto'>
                                                        <span
                                                            class='custom-font p12-S text-dark'
                                                        >{{this.SanBayDi.MaSanBay}}
                                                            -
                                                            {{this.SanBayDi.TinhThanh}}</span>
                                                    </div>
                                                </div>
                                                {{! Đến }}
                                                <div class='d-flex flex-column'>
                                                    <div style='padding: 4px 0px;' class='mx-auto'>
                                                        <span
                                                            class='custom-font p12-S text-dark'
                                                        >{{this.SanBayDen.MaSanBay}}
                                                            -
                                                            {{this.SanBayDen.TinhThanh}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        {{! Divider }}
                                        <div
                                            class='mb-4 px-2 py-1 d-flex flex-row bg-primary rounded-2 align-items-center'
                                        >
                                            <i class='fa-solid fa-circle-info me-2 text-light'></i>
                                            <span class='custom-font p16-S text-light pe-1'>Dừng ở sân bay
                                            </span>
                                            <span class='custom-font p16-S text-light'>{{this.SanBayDen.TenSanBay}}
                                                ({{this.ThoiGianDung_SanBayDen.Gio}}h
                                                {{this.ThoiGianDung_SanBayDen.Phut}}m)</span>
                                        </div>

                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{! Cột 2 }}
            <div class='col-12 col-lg-4 h-auto'>
                <div class='d-flex flex-column h-auto'>
                    {{! Tóm tắt }}
                    <div class='d-flex flex-column bg-light shadow rounded-2 h-auto mb-4'>
                        {{! Hàng 1 }}
                        <div class='px-3 py-2 d-flex flex-row justify-content-start align-items-center'>
                            <span class='custom-font p20-B text-dark lh-lg'>
                                Tóm tắt
                            </span>
                        </div>
                        {{! Gạch ngang }}
                        <div style='border-bottom: 1px solid black;'>
                        </div>

                        {{! Hàng 2 - Hành khách container }}
                        <div class='px-3 py-3 d-flex flex-column'>
                            {{! Hành khách item }}
                            <div class='d-flex flex-row justify-content-between mb-3'>
                                <div>
                                    <span class='custom-font p20-B text-tertiary me-1'>
                                        Người lớn
                                    </span>
                                    <span class='custom-font p20-B text-tertiary'>
                                        x
                                    </span>
                                    <span class='custom-font p20-B text-tertiary me-1'>
                                        1
                                    </span>
                                </div>
                                <div>
                                    <span class='custom-font p20-B text-tertiary me-1'>
                                        500.000
                                    </span>
                                    <span class='custom-font p20-B text-tertiary'>
                                        VND
                                    </span>
                                </div>
                            </div>
                            {{! Hành khách item }}
                            <div class='d-flex flex-row justify-content-between mb-3'>
                                <div>
                                    <span class='custom-font p20-B text-tertiary me-1'>
                                        Người lớn
                                    </span>
                                    <span class='custom-font p20-B text-tertiary'>
                                        x
                                    </span>
                                    <span class='custom-font p20-B text-tertiary me-1'>
                                        1
                                    </span>
                                </div>
                                <div>
                                    <span class='custom-font p20-B text-tertiary me-1'>
                                        500.000
                                    </span>
                                    <span class='custom-font p20-B text-tertiary'>
                                        VND
                                    </span>
                                </div>
                            </div>
                        </div>

                        {{! Hàng 3 }}
                        <div class='px-3 pb-2 d-flex flex-row justify-content-between'>
                            <span class='custom-font p20-B text-dark lh-lg'>
                                Giá bạn trả
                            </span>
                            <div>
                                <span class='custom-font p20-B text-dark lh-lg me-1'>
                                    10.000.000
                                </span>
                                <span class='custom-font p20-B text-dark lh-lg'>
                                    VND
                                </span>
                            </div>
                        </div>
                    </div>

                    {{! Tiếp tục }}
                    <div>
                        <button
                            id='TiepTuc'
                            type='button'
                            class='w-100 btn btn-primary bg-secondary border-secondary px-4 py-2 text-light custom-font p20-S custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                        >
                            Tiếp tục
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{! Our js }}
<script type='module' src='/javascript/client/TomTatTruocDat.js'>
</script>