<div class='bg-tertiary-light'>

    <div style='height: 288px;' class='w-100 bg-primary d-none d-sm-block'>
        <div class='container h-100'>
            <div id='carousel' class='carousel slide h-100' data-bs-ride='carousel'>

                {{! 3 cái ở dưới }}
                <div class='carousel-indicators'>
                    <button type='button' data-bs-target='#carousel' data-bs-slide-to='0' class='active'
                        aria-current='true' aria-label='Slide 1'></button>
                    <button type='button' data-bs-target='#carousel' data-bs-slide-to='1' aria-label='Slide 2'></button>
                    <button type='button' data-bs-target='#carousel' data-bs-slide-to='2' aria-label='Slide 3'></button>
                </div>

                {{! Ảnh }}
                <div class='carousel-inner'>
                    <div class='carousel-item active' data-bs-interval='3000'>
                        <img src='https://baemin.vn/desktop/images/baedale-hurray-01@2x.png'
                            class='d-block w-auto img-fluid h-100 m-auto' alt='...' />
                    </div>
                    <div class='carousel-item' data-bs-interval='3000'>
                        <img src='https://baemin.vn/desktop/images/baedale-cat-sherlock-01-pts@2x.png'
                            class='d-block w-auto img-fluid h-100 m-auto' alt='...' />
                    </div>
                    <div class='carousel-item' data-bs-interval='3000'>
                        <img src='https://baemin.vn/desktop/images/baedale-bike-03@2x.png'
                            class='d-block w-auto img-fluid h-100 m-auto' alt='...' />
                    </div>
                </div>

                {{! Nút qua trái }}
                <button class='carousel-control-prev' type='button' data-bs-target='#carousel' data-bs-slide='prev'>
                    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
                    <span class='visually-hidden'>Previous</span>
                </button>

                {{! Nút qua phải }}
                <button class='carousel-control-next' type='button' data-bs-target='#carousel' data-bs-slide='next'>
                    <span class='carousel-control-next-icon' aria-hidden='true'></span>
                    <span class='visually-hidden'>Next</span>
                </button>

            </div>
        </div>
    </div>

    <div class='container mt-4 pb-4'>
        <div class='row justify-content-center align-items-center bg-primary'>
            <div class='col-12 col-lg-11 h-auto bg-white rounded-1 shadow my-3'>

                <div class='px-5 py-3'>
                    {{! Hàng 1 }}
                    <div class='row h-auto mb-3 align-items-center'>
                        {{! Radio button: 1 chiều/ khứ hồi }}
                        <div class='form-check col-12 col-md-4 col-lg-3'>
                            <input class='form-check-input custom-color-checked custom-boxshadow-focus-primary'
                                type='radio' name='flexRadioDefault' id='MotChieu_KhuHoi' checked />
                            <label class='form-check-label custom-font p14-S lh-lg' for='MotChieu_KhuHoi'>
                                Một chiều/Khứ hồi
                            </label>
                        </div>
                        {{! Radio button: Nhiều thành phố }}
                        <div class='form-check col-12 col-md-4 col-lg-3'>
                            <input class='form-check-input custom-color-checked custom-boxshadow-focus-primary'
                                type='radio' name='flexRadioDefault' id='NhieuThanhPho' />
                            <div id='ChuyenBay_Max' class='d-none'>{{this.ChuyenBay_Max}}</div>
                            <label class='form-check-label custom-font p14-S lh-lg' for='NhieuThanhPho'>
                                Nhiều thành phố
                            </label>
                        </div>
                        {{! Button: mở bản đồ }}
                        <div class='col-12 mt-3 mt-md-0 col-md-4 col-lg-6'>
                            <button type='button' class='btn bg-primary text-light w-100 mx-auto d-block p12-S'>
                                <i class='fa-sharp fa-solid fa-location-dot p12-S pe-1'></i>
                                <span class='custom-font p12-S'>Mở bản đồ</span>
                            </button>
                        </div>
                    </div>

                    {{! Một chiều và khứ hồi }}
                    <div id='MotChieu_KhuHoi_div' class='row h-auto mb-3 align-items-center'>

                        {{! Thông tin sân bay của chuyến bay }}
                        <div class='col-12 col-md-7'>
                            <div class='row ChuyenBay_Item'>

                                {{! Sân bay đi }}
                                <div class='col-12 ps-0 col-md-5 mb-3'>
                                    <label class='form-label custom-font mb-1 p16-B lh-lg'>Từ</label>
                                    <div class='input-group dropdown'>
                                        <label class='input-group-text bg-primary border-primary py-2 p14-R'>
                                            <i class='fa-sharp fa-solid fa-plane-departure text-light'></i>
                                        </label>

                                        {{! Textbox }}
                                        <input type='text'
                                            class='ChuyenBay_Item_SanBayDi form-control dropdown-toggle border-start-0 custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary form-select'
                                            data-bs-toggle='dropdown' aria-expanded='false' placeholder='Sân bay đi'
                                            masanbay='' value='' readonly />
                                        {{! Drop down }}
                                        <ul style='width: 590px; height: 400px;'
                                            class='ChuyenBay_Item_SanBayDi_ul list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1 overflow-auto'>
                                            {{! Dropdown header }}
                                            <li
                                                class='dropdown-header border border-1 border-top-0 border-end-0 border-start-0'>
                                                <div class='d-flex flex-column'>
                                                    <span class='custom-font p12-S text-dark'>Thành phố hoặc sân bay phổ
                                                        biến</span>
                                                </div>
                                            </li>
                                            {{! Dropdown items }}
                                            {{#each Package.SanBays}}
                                            <li style='cursor: pointer;'
                                                class='SanBayDi_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'>
                                                <div style='pointer-events:none;' class='d-flex flex-column'>
                                                    <span
                                                        class='SanBayDi_li_TenTinhThanh custom-font p14-S text-dark pb-1'>{{this.TenTinhThanh}}</span>
                                                    <div class='d-flex flex-row'>

                                                        <span
                                                            class='SanBayDi_li_MaSanBay custom-font p14-R text-tertiary me-1'>{{this.MaSanBay}}</span>
                                                        <span class='custom-font p14-R text-tertiary me-1'>
                                                            - Sân bay
                                                        </span>
                                                        <span
                                                            class='SanBayDi_li_TenSanBay custom-font p14-R text-tertiary'>{{this.TenSanBay}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>

                                {{! Swap button }}
                                <div class='d-none d-md-block mb-3 col-md-2 align-self-center'>
                                    <button style='margin-top: 37px;' type='button'
                                        class='ChuyenBay_Item_SwapSanBay btn bg-tertiary text-light text-center w-100 p12-S px-0 custom-boxshadow-focus-none custom-boxshadow-hover-tertiary'>
                                        <i style='pointer-events: none;'
                                            class='fa-sharp fa-solid fa-right-left text-center'></i>
                                    </button>
                                </div>

                                {{! Sân bay đến }}
                                <div class='col-12 col-md-5 mb-3'>
                                    <label class='form-label custom-font mb-1 p16-B lh-lg'>Đến</label>
                                    <div class='input-group dropdown'>
                                        <label class='input-group-text bg-primary border-primary py-2 p14-R'>
                                            <i class='fa-sharp fa-solid fa-plane-arrival text-light'></i>
                                        </label>
                                        {{! Text box }}
                                        <input type='text'
                                            class='ChuyenBay_Item_SanBayDen form-control dropdown-toggle border-start-0 custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary form-select'
                                            data-bs-toggle='dropdown' masanbay='' value='' placeholder='Sân bay đến'
                                            readonly />
                                        {{! Drop down }}
                                        <ul style='width: 590px; height: 400px;'
                                            class='ChuyenBay_Item_SanBayDen_ul list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1 overflow-auto'
                                            data-bs-spy='scroll'>
                                            {{! Dropdown header }}
                                            <li
                                                class='dropdown-header border border-1 border-top-0 border-end-0 border-start-0'>
                                                <div class='d-flex flex-column'>
                                                    <span
                                                        class='custom-font p12-S text-dark border-tertiary border-tertiary'>Thành
                                                        phố hoặc sân bay phổ biến</span>
                                                </div>
                                            </li>
                                            {{! Dropdown items }}
                                            {{#each Package.SanBays}}
                                            <li style='cursor: pointer;'
                                                class='SanBayDen_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'>
                                                <div style='pointer-events:none;' class='d-flex flex-column'>
                                                    <span
                                                        class='SanBayDen_li_TenTinhThanh custom-font p14-S text-dark pb-1'>{{this.TenTinhThanh}}</span>
                                                    <div class='d-flex flex-row'>
                                                        <span
                                                            class='SanBayDen_li_MaSanBay custom-font p14-R text-tertiary me-1'>{{this.MaSanBay}}</span>
                                                        <span class='custom-font p14-R text-tertiary me-1'>
                                                            - Sân bay
                                                        </span>
                                                        <span
                                                            class='SanBayDen_li_TenSanBay custom-font p14-R text-tertiary'>{{this.TenSanBay}}</span>
                                                    </div>

                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {{! Hành khách }}
                        <div id='MotChieu_HanhKhach_div' class='col-12 col-md-5 mb-3'>

                            <div id='HanhKhach_div'>
                                <label class='form-label custom-font mb-1 p16-B lh-lg' for='HanhKhach'>Hành
                                    khách</label>
                                <div class='input-group dropdown'>
                                    <label class='input-group-text bg-primary border-primary py-2 p14-R'
                                        for='HanhKhach'>
                                        <i class='fa-sharp fa-solid fa-person text-light'></i>
                                    </label>
                                    <div type='text' id='HanhKhach'
                                        class='form-control dropdown-toggle border-start-0 custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary d-none-after text-truncate'
                                        data-bs-toggle='dropdown' aria-expanded='false'>
                                    </div>
                                    <div style='width: 364px; height: 206px;'
                                        class='list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1'
                                        aria-labelledby='HanhKhach'>
                                        <div class='container h-100 d-flex flex-column justify-content-evenly'>
                                            {{! Người lớn }}
                                            <div class='row align-items-center'>
                                                <div class='col-6 d-flex flex-row'>
                                                    <div class='pe-3'>
                                                        <i style='height: 26px; width:16.25px; font-size: 26px;'
                                                            class='fa-sharp fa-solid fa-person'></i>
                                                    </div>
                                                    <div class='d-flex flex-column'>
                                                        <span
                                                            class='Ten_NguoiLon custom-font p14-S text-dark pb-1'>Người
                                                            lớn</span>
                                                        <span class='Tuoi_NguoiLon custom-font p12-S text-tertiary'>(từ
                                                            12 tuổi)</span>
                                                    </div>
                                                </div>
                                                <div class='col-6'>
                                                    <input type='number'
                                                        class='Input_NguoiLon form-control custom-font p20-R custom-boxshadow-focus-primary text-center hanhkhach_inputnumber_item'
                                                        value='1' min='1' step='1' title='Người lớn' />
                                                </div>
                                            </div>
                                            {{! Trẻ em }}
                                            <div class='row align-items-center'>
                                                <div class='col-6 d-flex flex-row'>
                                                    <div class='pe-3'>
                                                        <i style='height: 26px; width:16.25px; font-size: 26px;'
                                                            class='fa-sharp fa-solid fa-child'></i>
                                                    </div>
                                                    <div class='d-flex flex-column'>
                                                        <span class='Ten_TreEm custom-font p14-S text-dark pb-1'>Trẻ
                                                            em</span>
                                                        <span class='Tuoi_TreEm custom-font p12-S text-tertiary'>(từ 2 -
                                                            11 tuổi)</span>
                                                    </div>
                                                </div>
                                                <div class='col-6'>
                                                    <input type='number'
                                                        class='Input_TreEm form-control custom-font p20-R custom-boxshadow-focus-primary text-center hanhkhach_inputnumber_item'
                                                        value='0' min='0' step='1' title='Trẻ em' />
                                                </div>
                                            </div>
                                            {{! Em bé }}
                                            <div class='row align-items-center'>
                                                <div class='col-6 d-flex flex-row'>
                                                    <div class='pe-3'>
                                                        <i style='height: 26px; width:16.25px; font-size: 26px;'
                                                            class='fa-sharp fa-solid fa-baby'></i>
                                                    </div>
                                                    <div class='d-flex flex-column'>
                                                        <span class='Ten_EmBe custom-font p14-S text-dark pb-1'>Em
                                                            bé</span>
                                                        <span class='Tuoi_EmBe custom-font p12-S text-tertiary'>(dưới 2
                                                            tuổi)</span>
                                                    </div>
                                                </div>
                                                <div class='col-6'>
                                                    <input type='number'
                                                        class='Input_EmBe form-control custom-font p20-R custom-boxshadow-focus-primary text-center hanhkhach_inputnumber_item'
                                                        value='0' min='0' step='1' title='Em bé' />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {{! Thời gian đi đến của chuyến bay }}
                        <div class='col-12 col-md-7'>

                            <div class='row'>
                                {{! Ngày đi }}
                                <div class='col-12 ps-0 col-md-5 mb-3'>
                                    <label class='form-label custom-font mb-1 p16-B lh-lg mb-1'>Ngày đi</label>
                                    <input
                                        class='ChuyenBay_Item_NgayDi form-control custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary'
                                        type='date' />
                                </div>
                                {{! Trống }}
                                <div class='d-none d-md-block col-md-2'>
                                </div>
                                {{! Ngày về }}
                                <div class='col-12 col-md-5 mb-3'>

                                    <div class='form-check mb-0'>
                                        <input id='KhuHoi' style='margin-top: 8px;'
                                            class='form-check-input p16-S custom-color-checked custom-boxshadow-focus-none custom-boxshadow-hover-primary'
                                            type='checkbox' />
                                        <label class='form-check-label custom-font p16-B lh-lg mb-1' for='KhuHoi'>
                                            Khứ hồi
                                        </label>
                                    </div>

                                    <input
                                        class='d-none ChuyenBay_Item_NgayVe form-control custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary'
                                        type='date' />
                                </div>
                            </div>

                        </div>

                        {{! Hạng ghế }}
                        <div id='MotChieu_HangGhe_div' class='col-12 col-md-5 mb-3'>

                            <div id='HangGhe_div'>
                                <label class='form-label custom-font p16-B lh-lg mb-1'>Hạng ghế</label>
                                <div class='input-group dropdown'>
                                    <label class='input-group-text bg-primary border-primary py-2 p14-R'>
                                        <i class='fa-sharp fa-solid fa-chair text-light'></i>
                                    </label>
                                    <input id='HangGhe' type='text'
                                        class='form-control dropdown-toggle border-start-0 custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary form-select'
                                        data-bs-toggle='dropdown' placeholder='Chọn hạng ghế' mahangghe='' readonly />
                                    <ul style='width: 364px;'
                                        class='HangGhe_ul h-auto list-unstyled custom-font p14-S dropdown-menu shadow py-0 my-1'>
                                        {{! Dropdown items }}
                                        {{#each Package.HangGhes}}
                                        <li style='cursor: pointer;' class='HangGhe_li dropdown-item custom-active'>
                                            <div style='pointer-events:none;' class='d-flex flex-row py-2'>
                                                <span
                                                    class='HangGhe_li_MaHangGhe custom-font p14-S text-dark me-1'>{{this.MaHangGhe}}</span>
                                                <span class='custom-font p14-S text-dark me-1'> - </span>
                                                <span
                                                    class='HangGhe_li_TenHangGhe custom-font p14-S text-dark'>{{this.TenHangGhe}}</span>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    {{! Nhiều thành phố }}
                    <div id='NhieuThanhPho_div' class='row h-auto mb-3 align-items-center d-none'>

                        {{! Các chuyến bay }}
                        <div class='col-12' id='NhieuThanhPhoContainer'>

                            <div class='row NhieuThanhPho_Item d-none' index='0'>
                                {{! Thông tin sân bay thời gian đi của chuyến bay }}
                                <div class='col-12 col-md-7'>
                                    <div class='row'>

                                        {{! Sân bay đi }}
                                        <div class='col-12 ps-0 col-md-5 mb-3'>
                                            <label class='form-label custom-font mb-1 p16-B lh-lg'>Từ</label>
                                            <div class='input-group dropdown'>
                                                <label class='input-group-text bg-primary border-primary py-2 p14-R'>
                                                    <i class='fa-sharp fa-solid fa-plane-departure text-light'></i>
                                                </label>

                                                {{! Textbox }}
                                                <input type='text'
                                                    class='NhieuThanhPho_Item_SanBayDi form-control dropdown-toggle border-start-0 custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary form-select'
                                                    data-bs-toggle='dropdown' aria-expanded='false'
                                                    placeholder='Sân bay đi' masanbay='' readonly />
                                                {{! Drop down }}
                                                <ul style='width: 590px; height: 400px;'
                                                    class='NhieuThanhPho_Item_SanBayDi_ul list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1 overflow-auto'>
                                                    {{! Dropdown header }}
                                                    <li
                                                        class='dropdown-header border border-1 border-top-0 border-end-0 border-start-0'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p12-S text-dark'>Thành phố hoặc sân
                                                                bay phổ biến</span>
                                                        </div>
                                                    </li>
                                                    {{! Dropdown items }}
                                                    {{#each Package.SanBays}}
                                                    <li style='cursor: pointer;'
                                                        class='NhieuThanhPho_SanBayDi_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'>
                                                        <div style='pointer-events:none;' class='d-flex flex-column'>
                                                            <span
                                                                class='NhieuThanhPho_SanBayDi_li_TenTinhThanh custom-font p14-S text-dark pb-1'>{{this.TenTinhThanh}}</span>
                                                            <div class='d-flex flex-row'>

                                                                <span
                                                                    class='NhieuThanhPho_SanBayDi_li_MaSanBay custom-font p14-R text-tertiary me-1'>{{this.MaSanBay}}</span>
                                                                <span class='custom-font p14-R text-tertiary me-1'>
                                                                    - Sân bay
                                                                </span>
                                                                <span
                                                                    class='NhieuThanhPho_SanBayDi_li_TenSanBay custom-font p14-R text-tertiary'>{{this.TenSanBay}}</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>

                                        {{! Swap button }}
                                        <div class='d-none d-md-block mb-3 col-md-2 align-self-center'>
                                            <button style='margin-top: 37px;' type='button'
                                                class='NhieuThanhPho_Item_SwapSanBay btn bg-tertiary text-light text-center w-100 p12-S px-0 custom-boxshadow-focus-none custom-boxshadow-hover-tertiary'>
                                                <i class='fa-sharp fa-solid fa-right-left text-center'></i>
                                            </button>
                                        </div>

                                        {{! Sân bay đến }}
                                        <div class='col-12 col-md-5 mb-3'>
                                            <label class='form-label custom-font mb-1 p16-B lh-lg'>Đến</label>
                                            <div class='input-group dropdown'>
                                                <label class='input-group-text bg-primary border-primary py-2 p14-R'>
                                                    <i class='fa-sharp fa-solid fa-plane-arrival text-light'></i>
                                                </label>
                                                {{! Text box }}
                                                <input type='text'
                                                    class='NhieuThanhPho_Item_SanBayDen form-control dropdown-toggle border-start-0 custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary form-select'
                                                    data-bs-toggle='dropdown' masanbay='' placeholder='Sân bay đến'
                                                    readonly />
                                                {{! Drop down }}
                                                <ul style='width: 590px; height: 400px;'
                                                    class='NhieuThanhPho_Item_SanBayDen_ul list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1 overflow-auto'
                                                    data-bs-spy='scroll'>
                                                    {{! Dropdown header }}
                                                    <li
                                                        class='dropdown-header border border-1 border-top-0 border-end-0 border-start-0'>
                                                        <div class='d-flex flex-column'>
                                                            <span
                                                                class='custom-font p12-S text-dark border-tertiary border-tertiary'>Thành
                                                                phố hoặc sân bay phổ biến</span>
                                                        </div>
                                                    </li>
                                                    {{! Dropdown items }}
                                                    {{#each Package.SanBays}}
                                                    <li style='cursor: pointer;'
                                                        class='NhieuThanhPho_SanBayDen_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'>
                                                        <div style='pointer-events:none;' class='d-flex flex-column'>
                                                            <span
                                                                class='NhieuThanhPho_SanBayDen_li_TenTinhThanh custom-font p14-S text-dark pb-1'>{{this.TenTinhThanh}}</span>
                                                            <div class='d-flex flex-row'>
                                                                <span
                                                                    class='NhieuThanhPho_SanBayDen_li_MaSanBay custom-font p14-R text-tertiary me-1'>{{this.MaSanBay}}</span>
                                                                <span class='custom-font p14-R text-tertiary me-1'>
                                                                    - Sân bay
                                                                </span>
                                                                <span
                                                                    class='NhieuThanhPho_SanBayDen_li_TenSanBay custom-font p14-R text-tertiary'>{{this.TenSanBay}}</span>
                                                            </div>

                                                        </div>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                {{! Ngày đi }}
                                <div class='col-12 col-md-5 mb-3'>
                                    <div class='d-flex flex-row'>
                                        <div class='flex-fill'>
                                            <label class='form-label custom-font mb-1 p16-B lh-lg mb-1'>Ngày đi</label>
                                            <input
                                                class='NhieuThanhPho_Item_NgayDi form-control custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary'
                                                type='date' />
                                        </div>
                                        <div class='align-self-end ms-3 d-none' style=' margin-bottom: 3px;'>
                                            <button
                                                class='NhieuThanhPho_Item_XoaChuyenBay btn p-0 m-0 custom-boxshadow-focus-none custom-boxshadow-hover-tertiary'>
                                                <i style='height: 30px; width: 30px; font-size: 30px; '
                                                    class='fa-solid fa-square-xmark text-tertiary'></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        {{! Thêm chuyến bay }}
                        <div class='col-12'>
                            <div class='row justify-content-start'>
                                <div class='col-4 ps-0 mb-3'>

                                    <button type='button' id='ThemChuyenBay'
                                        class='btn btn-primary bg-primary border-0 px-4 text-light custom-font p14-S custom-boxshadow-focus-none custom-boxshadow-hover-primary'>
                                        <i class='fa-sharp fa-solid fa-circle-plus pe-2'></i>
                                        Thêm chuyến bay
                                    </button>

                                </div>
                            </div>
                        </div>

                        {{! Hành khách + hạng ghế }}
                        <div class='col-12'>

                            <div class='row'>

                                {{! Hành khách }}
                                <div id='NhieuThanhPho_HanhKhach_div' class='col-12 ps-0 col-md-7 mb-3'>

                                </div>
                                {{! Hạng ghế }}
                                <div id='NhieuThanhPho_HangGhe_div' class='col-12 col-md-5 mb-3'>

                                </div>

                            </div>

                        </div>

                    </div>

                    {{! Tìm kiếm chuyến bay}}
                    <div class='row h-auto align-items-center justify-content-center justify-content-md-end'>
                        <div class='col-md-4 w-auto'>
                            <a id='TimChuyenBay' type='button'
                                class='btn btn-primary bg-secondary border-secondary px-4 text-light custom-font p20-S custom-boxshadow-focus-none custom-boxshadow-hover-secondary'>
                                <i class='fa-sharp fa-solid fa-magnifying-glass pe-2'></i>
                                Tìm chuyến bay
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<form name='search-flight-form' method='POST' style='display: none;'>
    <input id='mangchuyenbay_formid' name='MangChuyenBay' />
    <input id='hangghe_formid' name='HangGhe' />
    <input id='hanhkhach_formid' name='HanhKhach' />
</form>

<div class='d-none' id='PackageJS'>{{this.PackageJS}}</div>

{{! Our JS }}

<script type='module' src='/javascript/client/TraCuuChuyenBay.js'></script>