<div class='bg-tertiary-light'>

    <div style='height: 88px;' class='w-100 bg-primary-gradient mb-5'>
        <div class='container h-100'>
            <div class='d-flex flex-row h-100 justify-content-between align-items-center'>
                <div class='d-flex flex-column'>
                    <span class='custom-font h28-B text-light'>Vé của tôi</span>
                    {{! <span class='custom-font p16-R text-light'></span> }}
                </div>
            </div>
        </div>
    </div>
    <div class='container col-10'>
        {{#each HoaDons}}
            <div class='card mb-4'>
                <div class='card-header d-flex justify-content-between bg-light py-3'>
                    <div class='custom-font p20-B'>
                        Mã hóa đơn:
                        {{this.MaHoaDon}}
                    </div>
                    <div class='custom-font p20-B'>
                        Ngày đặt:
                        {{this.NgayGioThanhToan}}
                    </div>
                </div>
                <div class='card-body'>
                    <div class='accordion'>
                        {{! Chi tiết hóa đơn` }}
                        <div class='accordion-item'>
                            <div class='accordion-header'>
                                <div
                                    style='box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;'
                                    class='accordion-button custom-boxshadow-focus-none bg-light d-flex flex-row justify-content-between py-2'
                                    type='button'
                                    aria-expanded='false'
                                    data-bs-target='.CTHD{{this.MaHoaDon}}'
                                    data-bs-toggle='collapse'
                                >
                                    <dic class='custom-font p20-B text-secondary'>Chi tiết hóa đơn</dic>
                                </div>
                            </div>
                            <div class='CTHD{{this.MaHoaDon}} accordion-collapse collapse show'>
                                <div class='accordion-body'>
                                    <div class='row mb-3'>
                                        <div class='col-6'>
                                            <div class='form-label custom-font p14-S'>Người liên hệ</div>
                                            <input
                                                type='text'
                                                value='{{this.HoTen}}'
                                                disabled
                                                class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                            />
                                        </div>
                                        <div class='col-6'>
                                            <div class='form-label custom-font p14-S'>Số điện thoại</div>
                                            <input
                                                type='text'
                                                value='{{this.SDT}}'
                                                disabled
                                                class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                            />
                                        </div>
                                    </div>
                                    <div class='row mb-4'>
                                        <div class='col-6'>
                                            <div class='form-label custom-font p14-S'>Email</div>
                                            <input
                                                type='text'
                                                disabled
                                                value='{{this.Email}}'
                                                class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                            />
                                        </div>
                                        <div class='col-6'>
                                            <div class='form-label custom-font p14-S'>Hình thức thanh toán</div>
                                            <input
                                                type='text'
                                                disabled
                                                value='{{this.Ten}}'
                                                class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                            />
                                        </div>
                                    </div>

                                    <div class='row justify-content-center align-items-center'>
                                        <div
                                            style='height: 40px;border-radius: 10px;'
                                            class='col-10 position-relative bg-primary custom-font p20-B text-light'
                                        >

                                            <div class='position-absolute top-50 start-50 translate-middle'>
                                                Số tiền thanh toán:
                                                {{this.TongTien}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{! Vés }}
                        <div class='accordion-item'>
                            <div class='accordion-header'>
                                <div
                                    style='box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;'
                                    class='collapsed accordion-button custom-boxshadow-focus-none bg-light d-flex flex-row justify-content-between py-2'
                                    type='button'
                                    aria-expanded='false'
                                    data-bs-target='.Ve{{this.MaHoaDon}}'
                                    data-bs-toggle='collapse'
                                >
                                    <div class='custom-font p20-B text-secondary'>Vé</div>
                                </div>
                            </div>
                            {{! accordion của vé }}
                            <div class='Ve{{this.MaHoaDon}} accordion-collapse collapse'>
                                <div class='accordion-body'>
                                    {{#each this.Ves}}
                                        <div class='accordion'>
                                            <div class='accordion-item mb-3'>
                                                <div class='accordion-header'>
                                                    <div
                                                        class='collapsed accordion-button custom-boxshadow-focus-none bg-light d-flex flex-row justify-content-between py-2'
                                                        type='button'
                                                        aria-expanded='false'
                                                        data-bs-target='.VeCT{{this.MaVe}}'
                                                        data-bs-toggle='collapse'
                                                    >
                                                        <div class='custom-font p16-B text-secondary'>Mã vé:
                                                            {{this.MaVe}}</div>
                                                    </div>
                                                </div>
                                                <div class='VeCT{{this.MaVe}} accordion-collapse collapse'>
                                                    <div class='accordion-body'>
                                                        <div class='row mb-3'>
                                                            <div class='col-6'>
                                                                <div class='form-label custom-font p14-S'>Khách hàng</div>
                                                                <div class='input-group'>
                                                                    <input
                                                                        type='text'
                                                                        disabled
                                                                        value='{{this.HoTen}}'
                                                                        class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                                                    />
                                                                    <span
                                                                        class='input-group-text bg-primary custom-font p14-S text-light ChiTietHanhKhach'
                                                                        type='button'
                                                                        value='{{this.MaHK}}'
                                                                    >Chi tiết</span>
                                                                </div>
                                                            </div>
                                                            <div class='col-6'>
                                                                <div class='form-label custom-font p14-S'>Mã chuyến bay</div>
                                                                <div class='input-group'>
                                                                    <input
                                                                        type='text'
                                                                        disabled
                                                                        value='{{this.MaChuyenBay}}'
                                                                        class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                                                    />
                                                                    <span
                                                                        class='input-group-text bg-primary custom-font p14-S text-light ChiTietChuyenBay'
                                                                        type='button'
                                                                        value='{{this.MaChuyenBayCT}}'
                                                                    >Chi tiết</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='row mb-4'>
                                                            <div class='col-4'>
                                                                <div class='form-label custom-font p14-S'>Hạng vé</div>
                                                                <input
                                                                    type='text'
                                                                    value='{{this.HangVe}}'
                                                                    disabled
                                                                    class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                                                />
                                                            </div>
                                                            <div class='col-4'>
                                                                <div class='form-label custom-font p14-S'>Hành lý</div>
                                                                <input
                                                                    type='text'
                                                                    disabled
                                                                    value='{{this.SoKgToiDa}} kg xánh tay'
                                                                    class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                                                />
                                                            </div>
                                                            <div class='col-4'>
                                                                <div class='form-label custom-font p14-S'>Giá vé</div>
                                                                <input
                                                                    type='text'
                                                                    disabled
                                                                    value='{{this.GiaVe}}'
                                                                    class='form-control custom-boxshadow-focus-primary custom-font p14-S bg-light'
                                                                />
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{! Modal thông tin khách hàng }}
        <div class='modal fade' id='ChiTietHangKhach' tabindex='-1' aria-hidden='true'>
            <div class='modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable'>
                <div class='modal-content'>
                    <div class='modal-header bg-tertiary-light border-0 py-3'>
                        <span class='modal-title custom-font p20-B'></span>
                        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>
                    <div class='modal-body bg-tertiary-light rounded-1 pt-0'>
                        <div class='d-flex flex-column overflow-auto'>

                            {{! Hành khách }}
                            <div class='mb-4'>
                                <div class='mb-3 mx-3'>
                                    <span class='custom-font h24-B text-dark'>Thông tin hành khách</span>
                                </div>
                                <div class='bg-light shadow rounded-1 mx-3 h-auto'>
                                    <div class='py-2'>
                                        <div class='px-3 d-flex flex-row justify-content-between align-items-center'>
                                            <span class='custom-font p20-B text-dark'>Người thụ hưởng vé</span>
                                        </div>

                                    </div>
                                    <div style='border-top: 1px solid black;'></div>

                                    <form>
                                        <div class='row mx-0 px-0 py-3'>
                                            {{! Danh xưng }}
                                            <div class='col-12 col-md-6 px-3'>
                                                <label class='form-label custom-font p16-S text-tertiary'>Danh xưng</label>
                                                <div class='input-group dropdown'>
                                                    <input
                                                        type='text'
                                                        id='HanhKhach_DanhXung'
                                                        class='form-control dropdown-toggle custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                        {{! class='HanhKhach_GioiTinh form-control dropdown-toggle custom-font p16-B text-dark border-tertiary form-select custom-boxshadow-focus-primary' }}
                                                        {{! data-bs-toggle='dropdown' }}
                                                        aria-expanded='false'
                                                        value='Ông'
                                                        readonly
                                                    />
                                                </div>
                                            </div>

                                            {{! Họ tên }}
                                            <div class='col-12 col-md-6 px-3'>
                                                <div class='d-flex flex-column'>
                                                    <label class='form-label custom-font text-tertiary p16-S'>Họ tên</label>
                                                    <input
                                                        id='HanhKhach_HoTen'
                                                        class='form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                        type='text'
                                                        value='Phan Trường Huy'
                                                        readonly
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class='row mx-0 px-0 pb-3'>
                                            {{! Ngày sinh }}
                                            <div class='col-12 col-md-6 px-3'>
                                                <div class='d-flex flex-column'>
                                                    <label class='form-label custom-font p16-S text-tertiary'>Ngày sinh</label>
                                                    <div id='HanhKhach_NgaySinh' class='d-flex flex-row'>
                                                        {{! Ngày }}
                                                        <div class=''>
                                                            <input
                                                                id='HanhKhach_NgaySinh_Ngay'
                                                                class='dropdown-toggle form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0 mx-0'
                                                                type='text'
                                                                {{! data-bs-toggle='dropdown' }}
                                                                aria-expanded='false'
                                                                placeholder='Ngày sinh'
                                                                value='Ngày 07'
                                                                readonly
                                                            />

                                                        </div>
                                                        {{! Tháng }}
                                                        <div class=''>
                                                            <input
                                                                id='HanhKhach_NgaySinh_Thang'
                                                                class='dropdown-toggle form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0 mx-0'
                                                                type='text'
                                                                {{! data-bs-toggle='dropdown' }}
                                                                aria-expanded='false'
                                                                placeholder='Tháng sinh'
                                                                value='Tháng 1'
                                                                readonly
                                                            />

                                                        </div>
                                                        {{! Năm }}
                                                        <div class=''>
                                                            <input
                                                                id='HanhKhach_NgaySinh_Nam'
                                                                class='dropdown-toggle form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0 mx-0'
                                                                type='text'
                                                                {{! data-bs-toggle='dropdown' }}
                                                                aria-expanded='false'
                                                                placeholder='Năm sinh'
                                                                value='Năm 2002'
                                                                readonly
                                                            />

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{! Modal chi tiết chuyến bay }}
        <div id='ChiTietChuyenBay' class='modal fade' tabindex='-1' aria-hidden='true'>
            <div class='modal-dialog modal-dialog-centered modal-lg'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <span class='modal-title custom-font p20-B text-tertiary'>Chi tiết chuyến bay</span>
                        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>
                    <div class='modal-body'>
                        {{! Thông tin chung }}
                        <div
                            style='border-bottom: 1px solid gray;'
                            class='py-3 d-flex flex-row justify-content-between'
                        >

                            {{! Bên trái }}
                            <div class='d-flex flex-column'>
                                <div class='d-flex flex-row mb-3'>
                                    <i style='height: 16px; width: 16px;' class='me-3 p16-B fa-solid fa-plane'></i>
                                    <span class='custom-font p16-R text-dark me-2'>Số hiệu chuyến bay:
                                    </span>
                                    <span
                                        class='TomTat_Item_Detail_Modal_MaChuyenBay custom-font p16-B text-dark'
                                    >TSN</span>
                                </div>
                                <div class='d-flex flex-row'>
                                    <i
                                        style='height: 16px; width: 16px;'
                                        class='me-3 p16-B fa-solid fa-ticket-simple'
                                    ></i>
                                    <span class='custom-font p16-R text-dark me-2'>Giá vé:
                                    </span>
                                    <span
                                        class='TomTat_Item_Detail_Modal_GiaVe custom-font p16-B text-dark'
                                    >500.000</span>
                                    <span class='ps-1 custom-font p16-B text-dark'>
                                        VND /khách</span>
                                </div>
                            </div>

                            {{! Bên phải }}
                            <div class='d-flex flex-column me-4'>
                                <div class='d-flex flex-row mb-2'>
                                    <i style='height: 16px; width: 16px;' class='me-3 p16-B fa-solid fa-suitcase'></i>
                                    <span class='custom-font p16-R text-dark me-2'>Hành lý:
                                    </span>
                                    <span class='custom-font p16-B text-dark'>7kg xách tay</span>
                                </div>
                                <div class='d-flex flex-row'>
                                    <span
                                        class='TomTat_Item_Detail_Modal_HanhLyMuaThem custom-font p14-S text-primary'
                                    >+ xem giá hành lý mua thêm</span>
                                </div>
                            </div>
                        </div>

                        {{! Trung gian container }}
                        <div class='TomTat_Item_Detail_Modal_TrungGian_Container py-4 d-flex flex-column'>
                            {{! Chặn bay item }}
                            <div class='TomTat_Item_Detail_Modal_TrungGian_Item'>
                                <div class='px-4 mb-4 d-flex flex-column'>

                                    {{! Thời gian bay đi - đến }}
                                    <div class='d-flex flex-row justify-content-between'>
                                        {{! Đi }}
                                        <div class='d-flex flex-row align-items-end'>
                                            <span
                                                class='TomTat_Item_Detail_Modal_TrungGian_Item_GioDi custom-font p20-B text-dark'
                                            >11:11</span>
                                            <span
                                                style='margin-bottom: 4px;'
                                                class='TomTat_Item_Detail_Modal_TrungGian_Item_NgayDi ms-1 custom-font p12-S text-tertiary'
                                            >11-11-2022</span>
                                        </div>
                                        {{! Thời gian bay }}
                                        <div class='mx-auto align-self-end'>
                                            <span
                                                class='TomTat_Item_Detail_Modal_TrungGian_Item_ThoiGianBay custom-font p16-B text-tertiary'
                                            >11h 11m</span>
                                        </div>
                                        {{! Đến }}
                                        <div class='d-flex flex-row align-items-end'>
                                            <span
                                                style='margin-bottom: 4px;'
                                                class='TomTat_Item_Detail_Modal_TrungGian_Item_NgayDen me-1 custom-font p12-S text-tertiary'
                                            >11-11-2022</span>
                                            <span
                                                class='TomTat_Item_Detail_Modal_TrungGian_Item_GioDen custom-font p20-B text-dark'
                                            >11:11</span>
                                        </div>
                                    </div>

                                    {{! decor }}
                                    <div class='d-flex flex-column py-1'>
                                        <div class='d-flex flex-row align-items-center'>

                                            <div class='w-auto h-auto'>
                                                <i
                                                    style='height:15px; width:15px; font-size:15px; '
                                                    class='fa-regular fa-circle text-tertiary'
                                                ></i>
                                            </div>

                                            <div
                                                style='border-bottom: 1px solid black; padding: 0 60px;'
                                                class='w-100'
                                            ></div>

                                            <div class='w-auto h-auto'>
                                                <i
                                                    style='height:15px; width:15px; font-size:15px;'
                                                    class='fa-solid fa-circle text-tertiary'
                                                ></i>
                                            </div>
                                        </div>
                                    </div>

                                    {{! Sân bay đi - đến }}
                                    <div class='d-flex flex-row justify-content-between'>
                                        {{! Đi }}
                                        <div class='d-flex flex-column'>
                                            <div style='padding: 4px 0px;' class='mx-auto'>
                                                <span
                                                    class='TomTat_Item_Detail_Modal_TrungGian_Item_SanBayDi custom-font p12-S text-dark'
                                                >TSN - TP HCM</span>
                                            </div>
                                        </div>
                                        {{! Đến }}
                                        <div class='d-flex flex-column'>
                                            <div style='padding: 4px 0px;' class='mx-auto'>
                                                <span
                                                    class='TomTat_Item_Detail_Modal_TrungGian_Item_SanBayDen custom-font p12-S text-dark'
                                                >DAD - Đà Nẵng</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {{! Divider }}
                                <div
                                    class='TomTat_Item_Detail_Modal_TrungGian_Item_Divider mb-4 px-2 py-1 d-flex flex-row bg-primary rounded-2 align-items-center'
                                >
                                    <i class='fa-solid fa-circle-info me-2 text-light'></i>
                                    <span class='custom-font p16-S text-light pe-1'>Dừng ở sân bay
                                    </span>
                                    <span
                                        class='TomTat_Item_Detail_Modal_TrungGian_Item_Divider_SanBay custom-font p16-S text-light'
                                    >Tân Sơn Nhất (11h 11m)</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style='height: 50px;'></div>
</div>
<script type='module' src='/javascript/client/VeCuaToi.js'></script>