<div class='bg-tertiary-light'>

    <div style='height: 88px;' class='w-100 bg-primary'>
        <div style='height: 88px;' class='container col-10'>
            <div style='height: 88px;' class='row d-flex flex-row align-items-center'>
                <div class='custom-font h28-B text-light mb-2'>Thay đổi các quy định</div>
            </div>
        </div>
    </div>
    <div class='container col-10'>
        {{! Quy định về chuyến bay }}
        <div class='row'>
            <div class='custom-font h24-B mt-4 mb-4'>Quy định về chuyến bay</div>
        </div>
        <div class='card' id='ThamSo_Card'>
            <div class='card-header p16-B custom-font align-items-center'>
                Các quy định áp dụng cho tất cả chuyến bay
            </div>
            <div class='card-body'>

                <div class='row d-flex mb-4'>
                    {{#each ThamSos}}
                        <div class='ThamSo col-3'>
                            <label class='TenthamSo p14-S form-label'>{{this.TenThamSo}}</label>
                            <div tabindex='1' class='d-flex flex-row RowThamSo'>
                                <input
                                    type='text'
                                    onkeypress='onlyNumber(event)'
                                    disabled
                                    class='disabled ThamSo_GiaTri form-control me-2 custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                                    value='{{this.GiaTri}}'
                                />
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class='row mx-0 justify-content-center'>
                    <div class='col-6 justify-content-center d-flex'>
                        <button
                            style='width: 100%;'
                            class='d-none me-5 ThamSo--Huy btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'
                        >Hủy</button>
                        <button
                            style='width: 100%;'
                            class='d-none ThamSo--CapNhat btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary shadow-sm p20-B'
                        >Cập nhật</button>
                    </div>
                </div>

                <div class='row mx-0 justify-content-center'>
                    <div class='col-3'>
                        <button
                            style='width: 100%;'
                            class='ThamSo--Sua btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'
                        >Sửa</button>
                    </div>
                </div>
            </div>
        </div>
        {{! Thông tin các sân bay }}
        <div class='row'>
            <div class='custom-font h24-B mt-4 mb-4'>Thông tin các sân bay</div>
        </div>
        <div class='card'>
            <div class='card-header d-flex justify-content-between align-items-center'>
                <div class='p16-B custom-font col-8'>Các sân bay sử dụng cho các chuyến bay</div>
                {{! nut tim kiem san bay }}
                <div class='input-group'>
                    <input
                        type='text'
                        style='border-right: 0px !important;'
                        class='SanBay_Input--Search form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-none border border-1 border-dark'
                        placeholder='Tìm kiếm'
                    />
                    <div class='input-group-text bg-light border border-1 border-dark'><i
                            class='fa-sharp fa-solid fa-magnifying-glass'
                        ></i></div>
                </div>
            </div>

            <div class='card-body SanBay_Card' style='height: 300px; overflow-y: scroll;'>
                {{#each SanBays}}
                    <div class='row mb-3 SanBay'>
                        <div class='col-2'>
                            <label for='' class='p14-S form-label'>Mã sân bay</label>
                            <input
                                value='{{this.MaSanBay}}'
                                type='text'
                                disabled
                                class='SanBay_Ma form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Tên sân bay</label>
                            <input
                                type='text'
                                value='{{this.TenSanBay}}'
                                disabled
                                class='SanBay_Ten form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Địa chỉ</label>
                            <select
                                disabled
                                name=''
                                id=''
                                class='SanBay_DiaChi form-select custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            >
                                {{#each this.TinhThanhs}}
                                    <option value='{{this.MaTinhThanh}}'>{{this.TenTinhThanh}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class='col-4'>
                            <label for='' class='p14-S form-label'>Trạng thái<i></i></label>
                            <div class='d-flex'>
                                <select
                                    disabled
                                    name=''
                                    id=''
                                    class='SanBay_TrangThai form-select custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary me-2'
                                >
                                    <option value='1'>Hoạt động</option>
                                    <option value='2'>Ngưng hoạt động</option>
                                </select>
                            </div>
                        </div>
                    </div>
                {{/each}}

                {{! Dòng sân bay khi được thêm }}
                <div class='row mb-3 SanBay_Cop d-none' Index=''>
                    <div class='col-2'>
                        <label for='' class='p14-S form-label'>Mã sân bay</label>
                        <input
                            type='text'
                            oninput='let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);'
                            class='SanBay_Ma form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                        />
                    </div>
                    <div class='col-3'>
                        <label for='' class='p14-S form-label'>Tên sân bay</label>
                        <input
                            type='text'
                            class='SanBay_Ten form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                        />
                    </div>
                    <div class='col-3'>
                        <label for='' class='p14-S form-label'>Địa chỉ</label>
                        <select
                            name=''
                            id=''
                            class='SanBay_DiaChi form-select custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                        >
                            <option value='' disabled selected hidden>Chọn tỉnh thành...</option>
                            {{#each TinhThanhs}}
                                <option value='{{this.MaTinhThanh}}'>{{this.TenTinhThanh}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class='col-4'>
                        <label for='' class='p14-S form-label'>Trạng thái<i></i></label>
                        <div class='d-flex'>
                            <select
                                name=''
                                id=''
                                class='SanBay_TrangThai form-select custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary me-2'
                            >
                                <option value='1' selected>Hoạt động</option>
                                <option value='2'>Ngưng hoạt động</option>
                            </select>
                            <button
                                class='SanBay_Cop--Xoa btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary p14-S shadow-sm me-2'
                            >Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            {{! Nút thêm sân bay }}
            <div class='row mx-0 mb-3 mt-1 justify-content-start'>
                <div class='w-auto'>
                    <button
                        type='button'
                        class='SanBay--Them d-none btn btn-primary bg-primary border-primary px-4 text-light custom-font p14-S custom-boxshadow-focus-none custom-boxshadow-hover-primary'
                    >
                        <i class='fa-sharp fa-solid fa-circle-plus pe-2'></i>
                        Thêm sân bay
                    </button>
                </div>
            </div>
            <div class='row mx-0 justify-content-center'>
                <div class='col-6 justify-content-center d-flex'>
                    <button
                        style='width: 100%;'
                        class='d-none mb-3 me-5 SanBay--Huy btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'
                    >Hủy</button>
                    <button
                        style='width: 100%;'
                        class='d-none mb-3 SanBay--CapNhat btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary shadow-sm p20-B'
                    >Cập nhật</button>
                </div>
            </div>

            <div class='row mx-0 justify-content-center'>
                <div class='col-3'>
                    <button
                        style='width: 100%;'
                        class='mb-3 SanBay--Sua btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'
                    >Sửa</button>
                </div>
            </div>
        </div>

        {{! Thông tin các hạng vé }}
        <div class='row'>
            <div class='custom-font h24-B mt-4 mb-4'>Thông tin các hạng vé</div>
        </div>
        <div class='card'>
            <div class='card-header d-flex justify-content-between align-items-center'>
                <div class='p16-B custom-font col-8'>Các hạng vé sử dụng cho các chuyến bay</div>
                <input
                    type='text'
                    class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                    placeholder='Mã hạng vé'
                />
                <button
                    onclick='search_click'
                    style='height: 34px;'
                    type='button'
                    class='btn custom-boxshadow-hover-primary custom-boxshadow-focus-none ms-2'
                >
                    <i class='fa-sharp fa-solid fa-magnifying-glass'></i>
                </button>
            </div>
            <div class='card-body'>
                <form action=''>

                    {{!-- {{#each HangVes}} --}}
                    <div class='row'>
                        <div class='col-2'>
                            <label for='' class='p14-S form-label'>Mã hạng vé</label>
                            <input
                                type='text'
                                class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Tên hạng vé</label>
                            <input
                                type='text'
                                class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Hệ số</label>
                            <input
                                type='text'
                                class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-4'>
                            <label for='' class='p14-S form-label'>Trạng thái<i></i></label>
                            <div class='d-flex'>
                                <select
                                    name=''
                                    id=''
                                    class='form-select custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary me-2'
                                >
                                    {{!-- {{#each TrangThais}} --}}
                                    <option value='1'>TrangThai</option>
                                    {{!-- {{/each}} --}}
                                </select>
                                <button
                                    class='Sua btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary p14-S me-2 shadow-sm'
                                >Sửa</button>

                                <button
                                    class='Xoa btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary p14-S shadow-sm'
                                >Xóa</button>
                            </div>
                        </div>
                    </div>

                    {{!-- {{/each}} --}}
                </form>
            </div>
            <div class='row mx-0 justify-content-center'>
                <div class='col-3'>
                    <button
                        style='width: 100%;'
                        class='mb-3 Them btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'
                    >Thêm</button>
                </div>
            </div>
        </div>

        {{! Thông tin các loại khách hàng }}
        <div class='row'>
            <div class='custom-font h24-B mt-4 mb-4'>Thông tin các loại khách hàng</div>
        </div>
        <div class='card'>
            <div class='card-header d-flex justify-content-between align-items-center'>
                <div class='p16-B custom-font col-8'>Các loại khách hàng sử dụng cho các chuyến bay</div>
                <input
                    type='text'
                    class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                    placeholder='Tên loại khách hàng'
                />
                <button
                    onclick='search_click'
                    style='height: 34px;'
                    type='button'
                    class='btn custom-boxshadow-hover-primary custom-boxshadow-focus-none ms-2'
                >
                    <i class='fa-sharp fa-solid fa-magnifying-glass'></i>
                </button>
            </div>
            <div class='card-body'>
                <form action=''>

                    {{!-- {{#each LoaiKhachHangs}} --}}
                    <div class='row'>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Tên loại khách hàng</label>
                            <input
                                type='text'
                                class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Số tuổi tối thiểu</label>
                            <input
                                type='text'
                                class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Số tuổi tối đa</label>
                            <input
                                type='text'
                                class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                            />
                        </div>
                        <div class='col-3'>
                            <label for='' class='p14-S form-label'>Hệ số<i></i></label>
                            <div class='d-flex'>
                                <input
                                    type='text'
                                    class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary me-2'
                                />
                                <button
                                    class='Sua btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary p14-S me-2 shadow-sm'
                                >Sửa</button>

                                <button
                                    class='Xoa btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary p14-S shadow-sm'
                                >Xóa</button>
                            </div>
                        </div>
                    </div>

                    {{!-- {{/each}} --}}
                </form>
            </div>
            <div class='row mx-0 justify-content-center'>
                <div class='col-3'>
                    <button
                        style='width: 100%;'
                        class='mb-3 Them btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'
                    >Thêm</button>
                </div>
            </div>
        </div>

        {{! Thông tin các loại mốc hành lý }}
        <div class='row'>
            <div class='custom-font h24-B mt-4 mb-4'>Thông tin các loại mốc hành lý</div>
        </div>
        <div class='card'>
            <div class='card-header d-flex justify-content-between align-items-center'>
                <div class='p16-B custom-font col-8'>Các loại mốc hành lý sử dụng cho các chuyến bay</div>
            </div>
            <div class='card-body'>
                <form action=''>

                    {{!-- {{#each MocHanhLys}} --}}
                    <div class='row'>
                        <div class='offset-2 col-4'>
                            <label for='' class='p14-S form-label'>Số kg tối đa</label>
                            <div class='d-flex'>
                                <div class='input-group'>
                                    <input
                                        type='text'
                                        class='form-control custom-font p16-R text-dark border-tertiary custom-boxshadow-focus-primary'
                                    />
                                    <span
                                        style='height: 36px;'
                                        class='bg-light border-tertiary input-group-text custom-font p16-S py-1 text-tertiary'
                                    >Kg</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-5'>
                            <label for='' class='p14-S form-label'>Giá tiền<i></i></label>
                            <div class='d-flex'>
                                <div class='input-group me-2'>
                                    <input
                                        style='height: 36px;'
                                        type='text'
                                        class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                        id='GiaVeCoBan'
                                    />
                                    <span
                                        style='height: 36px;'
                                        class='bg-light border-tertiary input-group-text custom-font p16-S py-1 text-tertiary'
                                    >VND</span>
                                </div>
                                <button
                                    class='Sua btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary p14-S me-2 shadow-sm'
                                >Sửa</button>

                                <button
                                    class='Xoa btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary p14-S shadow-sm'
                                >Xóa</button>
                            </div>
                        </div>
                    </div>

                    {{!-- {{/each}} --}}
                </form>
            </div>
            <div class='row mx-0 justify-content-center'>
                <div class='col-3'>
                    <button
                        style='width: 100%;'
                        class='mb-3 Them btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'
                    >Thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{! form }}
<form name='form-update' method='POST' style='display: none;'>
    <input id='package' name='Package' />
</form>

{{! Our JS }}

<script type='module' src='/javascript/staff/QuyDinhChuyenBay.js'></script>