<div class='bg-tertiary-light'>

    <div style='height: 88px;' class='w-100 bg-primary'>
        <div class='container h-100'>
            <div class='d-flex flex-row h-100 justify-content-start align-items-center'>
                <div class='d-flex flex-column'>
                    <span class='custom-font h28-B text-light mb-2'>Tra cứu chuyến bay</span>
                    <span class='custom-font p16-R text-light'>Tra cứu với các tiêu chuẩn tra cứu</span>
                </div>
            </div>
        </div>
    </div>

    <div class='container mt-5 pb-5 h-auto'>

        {{! Tiêu chuẩn tra cứu }}
        <div class='mb-5 mx-2 mx-md-4'>

            <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                {{! Dòng 1 }}
                <div class='row px-5 pt-4 mb-2 justify-content-center'>
                    {{! Mã chuyến bay }}
                    <div class='col-12 d-none'>
                        <div class='mb-3'>
                            <label for='MaChuyenBay' class='form-label custom-font p14-S'>Mã chuyến bay</label>
                            <input
                                style='height: 36px;'
                                type='text'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='MaChuyenBay'
                                placeholder='Vd: SG-HA-1'
                            />
                        </div>
                    </div>

                </div>

                {{! Dòng 2 }}
                <div class='row px-5 mb-2'>
                    {{! Sân bay đi }}
                    <div class='SanBayDi col-5 col-md-3'>
                        <div class='mb-3'>
                            <label for='SanBayDi' class='form-label custom-font p14-S'>Sân bay đi</label>
                            <div class='input-group dropdown'>

                                <input
                                    style='height: 36px;'
                                    id='SanBayDi'
                                    type='text'
                                    class='form-control dropdown-toggle custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary form-select'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                    placeholder='Sân bay đi'
                                    masanbay=''
                                    readonly
                                />
                                {{! Drop down }}
                                <ul
                                    style='width: 350px; height: 400px;'
                                    class='list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1 overflow-auto'
                                >
                                    {{! Dropdown header }}
                                    <li
                                        class='dropdown-header border border-1 border-top-0 border-end-0 border-start-0'
                                    >
                                        <div class='d-flex flex-column'>
                                            <span
                                                class='custom-font p12-S text-dark border-tertiary border-tertiary'
                                            >Thành phố hoặc sân bay phổ biến</span>
                                        </div>
                                    </li>
                                    {{! Dropdown items }}
                                    <li
                                        style='height: 48px;'
                                        class='SanBayDi_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'
                                    >
                                        <div style='pointer-events:none;' class='d-flex flex-column'>
                                            <span
                                                class='SanBayDi_li_TenTinhThanh custom-font p14-S text-dark pb-1'
                                            ></span>
                                            <div class='d-flex flex-row'>

                                                <span
                                                    class='SanBayDi_li_MaSanBay custom-font p14-R text-tertiary me-1'
                                                ></span>
                                                <span class='custom-font p14-R text-tertiary me-1'>
                                                </span>
                                                <span
                                                    class='SanBayDi_li_TenSanBay custom-font p14-R text-tertiary'
                                                ></span>
                                            </div>
                                        </div>
                                    </li>
                                    {{#each SanBays}}
                                        <li
                                            class='SanBayDi_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'
                                        >
                                            <div style='pointer-events:none;' class='d-flex flex-column'>
                                                <span
                                                    class='SanBayDi_li_TenTinhThanh custom-font p14-S text-dark pb-1'
                                                >{{this.TinhThanh}}</span>
                                                <div class='d-flex flex-row'>

                                                    <span
                                                        class='SanBayDi_li_MaSanBay custom-font p14-R text-tertiary me-1'
                                                    >{{this.MaSanBay}}</span>
                                                    <span class='custom-font p14-R text-tertiary me-1'>
                                                        - Sân bay
                                                    </span>
                                                    <span
                                                        class='SanBayDi_li_TenSanBay custom-font p14-R text-tertiary'
                                                    >{{this.TenSanBay}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {{! Swap button }}
                    <div class='col-2 col-md-1'>
                        <div class='mb-3'>

                            <button
                                id='SwapSanBay'
                                style='margin-top: 26px;'
                                type='button'
                                class='btn bg-tertiary text-light mx-auto d-block w-100 p12-S px-0 custom-boxshadow-focus-none custom-boxshadow-hover-tertiary'
                            >
                                <i class='fa-sharp fa-solid fa-right-left text-center'></i>
                            </button>

                        </div>
                    </div>

                    {{! Sân bay đến }}
                    <div class='SanBayDen col-5 col-md-3'>
                        <div class='mb-3'>
                            <label for='SanBayDen' class='form-label custom-font p14-S'>Sân bay đến</label>
                            <div class='input-group dropdown'>
                                <input
                                    style='height: 36px;'
                                    id='SanBayDen'
                                    type='text'
                                    class='form-control dropdown-toggle custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary form-select'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                    placeholder='Sân bay đến'
                                    masanbay=''
                                    readonly
                                />
                                {{! Drop down }}
                                <ul
                                    style='width: 350px; height: 400px;'
                                    class='list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1 overflow-auto'
                                >
                                    {{! Dropdown header }}
                                    <li
                                        class='dropdown-header border border-1 border-top-0 border-end-0 border-start-0'
                                    >
                                        <div class='d-flex flex-column'>
                                            <span
                                                class='custom-font p12-S text-dark border-tertiary border-tertiary'
                                            >Thành phố hoặc sân bay phổ biến</span>
                                        </div>
                                    </li>
                                    {{! Dropdown items }}
                                    <li
                                        style='height: 48px;'
                                        class='SanBayDen_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'
                                    >
                                        <div style='pointer-events:none;' class='d-flex flex-column'>
                                            <span
                                                class='SanBayDen_li_TenTinhThanh custom-font p14-S text-dark pb-1'
                                            ></span>
                                            <div class='d-flex flex-row'>

                                                <span
                                                    class='SanBayDen_li_MaSanBay custom-font p14-R text-tertiary me-1'
                                                ></span>
                                                <span class='custom-font p14-R text-tertiary me-1'>
                                                </span>
                                                <span
                                                    class='SanBayDen_li_TenSanBay custom-font p14-R text-tertiary'
                                                ></span>
                                            </div>
                                        </div>
                                    </li>
                                    {{#each SanBays}}
                                        <li
                                            class='SanBayDen_li dropdown-item border border-1 border-top-0 border-end-0 border-start-0 custom-active'
                                        >
                                            <div style='pointer-events:none;' class='d-flex flex-column'>
                                                <span
                                                    class='SanBayDen_li_TenTinhThanh custom-font p14-S text-dark pb-1'
                                                >{{this.TinhThanh}}</span>
                                                <div class='d-flex flex-row'>

                                                    <span
                                                        class='SanBayDen_li_MaSanBay custom-font p14-R text-tertiary me-1'
                                                    >{{this.MaSanBay}}</span>
                                                    <span class='custom-font p14-R text-tertiary me-1'>
                                                        - Sân bay
                                                    </span>
                                                    <span
                                                        class='SanBayDen_li_TenSanBay custom-font p14-R text-tertiary'
                                                    >{{this.TenSanBay}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {{! Hạng ghế }}
                    <div class='HangGhe col-6 col-md-3'>
                        <div class='mb-3'>
                            <label for='HangGhe' class='form-label custom-font p14-S'>Hạng ghế</label>
                            <div class='input-group dropdown'>
                                <input
                                    style='height: 36px;'
                                    id='HangGhe'
                                    type='text'
                                    class='form-control dropdown-toggle custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary form-select'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                    placeholder='Hạng ghế'
                                    mahangghe=''
                                    readonly
                                />
                                {{! Drop down }}
                                <ul
                                    style='width: 300px; height: auto;'
                                    class='list-unstyled custom-font p14-S dropdown-menu shadow py-0 my-1'
                                >
                                    {{! Dropdown items }}
                                    <li
                                        style='height: 46px;'
                                        class='HangGhe_li dropdown-item custom-active border border-1 border-top-0 border-end-0 border-start-0'
                                    >
                                        <div style='pointer-events:none;' class='d-flex flex-row py-2'>
                                            <span class='HangGhe_li_MaHangGhe custom-font p14-R text-dark me-1'></span>
                                            <span class='custom-font p14-S text-dark me-1'></span>
                                            <span class='HangGhe_li_TenHangGhe custom-font p14-R text-dark'></span>
                                        </div>
                                    </li>
                                    {{#each HangGhes}}
                                        <li
                                            class='HangGhe_li dropdown-item custom-active border border-1 border-top-0 border-end-0 border-start-0'
                                        >
                                            <div style='pointer-events:none;' class='d-flex flex-row py-2'>
                                                <span
                                                    class='HangGhe_li_MaHangGhe custom-font p14-R text-dark me-1'
                                                >{{this.MaHangGhe}}</span>
                                                <span class='custom-font p14-S text-dark me-1'> - </span>
                                                <span
                                                    class='HangGhe_li_TenHangGhe custom-font p14-R text-dark'
                                                >{{this.TenHangGhe}}</span>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {{! Số ghế trống }}
                    <div class='col-6 col-md-2'>
                        <div class='mb-3'>
                            <label for='GheTrong' class='form-label custom-font p14-S'>Ghế trống</label>
                            <input
                                style='height: 36px;'
                                type='number'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='GheTrong'
                            />
                        </div>
                    </div>

                </div>

                {{! Dòng 3 }}
                <div class='row px-5 mb-4'>

                    {{! Ngày khởi hành }}
                    <div class='col-6 col-md-3'>
                        <div class='mb-3'>
                            <label for='NgayKhoiHanh' class='form-label custom-font p14-S'>Khởi hành</label>
                            <input
                                style='height: 36px;'
                                type='date'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='NgayKhoiHanh'
                            />
                        </div>
                    </div>

                    {{! Giờ khởi hành }}
                    <div class='col-6 col-md-3'>
                        <div class='mb-3'>
                            <label for='GioKhoiHanh' class='form-label custom-font p14-S'>Khởi hành</label>
                            <input
                                style='height: 36px;'
                                type='time'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='GioKhoiHanh'
                            />
                        </div>
                    </div>

                    {{! Giá vé }}
                    <div class='col-6 col-md-3'>
                        <div class='mb-3'>
                            <label for='GiaVeCoBan' class='form-label custom-font p14-S'>Giá vé cơ bản</label>
                            <div class='input-group mb-3'>
                                <input
                                    style='height: 36px;'
                                    type='text'
                                    class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                    id='GiaVeCoBan'
                                    onkeypress='onlyNumber(event)'
                                />
                                <span
                                    style='height: 36px;'
                                    class='bg-light border-tertiary input-group-text custom-font p16-S py-1 text-tertiary'
                                >VND</span>
                            </div>
                        </div>
                    </div>

                    {{! Trạng thái }}
                    <div class='col-6 col-md-3'>
                        <div class='mb-3'>

                            <label for='TrangThai' class='form-label custom-font p14-S'>Trạng thái</label>
                            <div class='input-group dropdown'>
                                <input
                                    style='height: 36px;'
                                    id='TrangThai'
                                    type='text'
                                    class='form-control dropdown-toggle custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary form-select'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                    placeholder='Trạng thái'
                                    GiaTri=''
                                    readonly
                                />
                                {{! Drop down }}
                                <ul
                                    style='width: 300px; height: auto;'
                                    class='list-unstyled custom-font p14-S dropdown-menu shadow py-0 my-1'
                                >
                                    {{! Rỗng }}
                                    <li
                                        style='height: 46px;'
                                        class='TrangThai_li dropdown-item custom-active border border-1 border-top-0 border-end-0 border-start-0'
                                    >
                                        <div style='pointer-events:none;' class='d-flex flex-row py-2'>
                                            <span
                                                GiaTri=''
                                                class='TrangThai_li_value custom-font p14-R text-dark me-1'
                                            ></span>
                                        </div>
                                    </li>

                                    {{! Chưa khởi hành }}
                                    <li
                                        class='TrangThai_li dropdown-item custom-active border border-1 border-top-0 border-end-0 border-start-0'
                                    >
                                        <div style='pointer-events:none;' class='d-flex flex-row py-2'>
                                            <span
                                                GiaTri='ChuaKhoiHanh'
                                                class='TrangThai_li_value custom-font p14-R text-dark me-1'
                                            >Chưa khởi hành</span>
                                        </div>
                                    </li>

                                    {{! Đã khởi hành }}
                                    <li
                                        class='TrangThai_li dropdown-item custom-active border border-1 border-top-0 border-end-0 border-start-0'
                                    >
                                        <div style='pointer-events:none;' class='d-flex flex-row py-2'>
                                            <span
                                                GiaTri='DaKhoiHanh'
                                                class='TrangThai_li_value custom-font p14-R text-dark me-1'
                                            >Đã khởi hành</span>
                                        </div>
                                    </li>

                                    {{! Đã hủy }}
                                    <li
                                        class='TrangThai_li dropdown-item custom-active border border-1 border-top-0 border-end-0 border-start-0'
                                    >
                                        <div style='pointer-events:none;' class='d-flex flex-row py-2'>
                                            <span
                                                GiaTri='DaHuy'
                                                class='TrangThai_li_value custom-font p14-R text-dark me-1'
                                            >Đã hủy</span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        {{! Bảng dữ liệu }}
        <div class='mb-5'>
            <div class='bg-light shadow rounded-2'>
                <div class='px-2 py-4 h-auto'>

                    <table class='table'>
                        <thead>
                            <tr class='custom-font p16-S text-center'>
                                <th scope='col'>Mã chuyến bay</th>
                                <th scope='col'>Sân bay đi</th>
                                <th scope='col'>Sân bay đến</th>
                                <th scope='col'>Khởi hành</th>
                                <th scope='col'>Điểm dừng</th>
                                <th scope='col'>Giá vé cơ bản</th>
                                <th scope='col'>Ghế trống</th>
                                <th scope='col'>Chi tiết</th>

                            </tr>
                        </thead>
                        <tbody id='ChuyenBay_Container'>
                            <tr
                                aria-valuetext=''
                                class='ChuyenBay_Item custom-font p16-R align-middle text-center d-none'
                            >
                                <th class='MaChuyenBayHienThi'>1</th>
                                <td class='TenSanBayDi'>TSN</td>
                                <td class='TenSanBayDen'>DAD</td>
                                <td class='KhoiHanh'>11:11 11/11/2022</td>
                                <td class='DiemDung'>11</td>
                                <td class='GiaVeCoBan'>100.000</td>
                                <td class='GheTrong'>20</td>
                                <td style='width: 12.5%;'>
                                    <a
                                        type='button'
                                        class='ChiTiet btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary p14-S shadow-sm'
                                    >Chi tiết</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

<form name='flight-detail-form' method='POST' style='display: none;'>
    <input id='package' name='Package' />
</form>

{{! Our js }}
<script type='module' src='/javascript/staff/TraCuuChuyenBay.js'>
</script>